{% extends 'base.html' %}
    
{% block title %} Cadastro Candidatos {% endblock title %} 

{% block content %} 

<form enctype="multipart/form-data" method="post" action="form-c">
{% crsf_token %}

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Seu Nome Completo</span>
    <input type="text" class="form-control" placeholder="Name User" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">CPF</span>
    <input type="number" class="form-control" placeholder="000000000-00" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Idade</span>
    <input type="number" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  
 
  <label for="basic-url" class="form-label">Pretenção Salarial</label>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-text">.00</span>
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">email</span>
    <input type="text" class="form-control" placeholder="exemplo@servidor.com" aria-label="Username">
  </div>
  
  <label for="basic-url" class="form-label">Disponibilidade Imediata de Trabalho</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Não
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Sim
    </label>
  </div>
</form>

{% endblock content %}