{% extends 'base.html' %}
    
{% block title %} Cadastro Candidatos {% endblock title %} 

{% block content %} 


<form enctype="multipart/form-data" method="post" >
{% csrf_token %}

{{form.as_p}}
<!--
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Seu Nome Completo</span>
    <input type="text" class="form-control" placeholder="Name User" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">CPF</span>
    <input type="number" class="form-control" placeholder="000000000-00" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Idade</span>
    <input type="date" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  
 
  <label for="basic-url" class="form-label">Pretenção Salarial</label>
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-text">.00</span>
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">email</span>
    <input type="text" class="form-control" placeholder="exemplo@servidor.com" aria-label="Username">
  </div>
  
  <label for="basic-url" class="form-label">Disponibilidade Imediata de Trabalho</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Não
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Sim
    </label>
  </div> -->

  {% for campo in formulario %}

    <div class="mb-3">
      <label for="" class="form-label"> {{campo.label}}:</label>
      <input 
        type="{{campo.field.widget.input_type}}"
        class="form-control"
        name="{{campo.name}}"
        id=""
        aria-describedat="helpID"
        placeholder="{{campo.label}}">
    </div>
    <div class="col-12 help-text">{{campo.erros}}</div>
  {% endfor %}
  <button type="submit" value="Cadastrar dados"  class="btn btn-success">Cadastrar</button>

</form>

{% endblock content %}