{% extends 'base.html' %}

{% block title %}Renomear depois{% endblock title %}


{% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
<table>
    <tr>
      <th>ID</th>
      <th>Nome </th>
      <th>Email</th>
      <th>CPF</th>
      <th>Pretenção Salarial </th>
      <th>Disponibilidade de Trabalho</th>
      <th>Idade</th>
      <th>Ações</th>
    
    </tr>
    {% for candidato in candidato %}
    <tr>
      <td>{{candidato.id}}</td>
      <td>{{candidato.nome}} </td>
      <td>{{candidato.email}}</td>
      <td>{{candidato.cpf}}</td>
      <td>{{candidato.pret_salarial}}</td>
      <td>{{candidato.disp_trab_imed}}</td>
      <td>{{candidato.idade}}</td>
      <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" href="#" class="btn btn-danger">Excluir</button>
        <a role="button" href="{% url 'editar' %}" class="btn btn-warning">Editar</button>
      </div>
      </td>
    </tr>
    {% endfor %}
    
  </table>

{% endblock %}











